@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100..700&display=swap');
html, body {
  height: 100%;
  width: 100%;
}
body.light {
  background-color: #36393e;
  color: white;
}

body.dark {
  background-color: #d9a275;
  color: black;
}

#theme-toggle {
  /* styles for the toggle switch */
}

#theme-toggle button {
  /* styles for the toggle buttons */
}

#theme-toggle button.active {
  /* styles for the active toggle button */
}

p{
  font-family: 'Nunito Sans';
  font-size: 20px;
  text-align: center;
}
#iframe{
  width: 90%;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.homenamebox{
  background-color: #36393e;
  border-radius:20px;
  margin: auto;
  width: 700px;
}
