@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
html, body {
  height: 100%;
  width: 100%;
}
body{
    background-color: #36393e;
    color: #FB2576;
}
.night{
    background-color: white;
    color: black;
}
#iframe{
  width: 90%;
}
.dntoggle{
  font-size: 28px;
  border-radius: 100px;
  background-color: #111111;
  padding: 15px;
  color:#fcfcfc;
  box-shadow: 1px 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  
  position: fixed;
  bottom:20px;
  right: 20px;

  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.fa-moon-o:before{
  padding:0 2px;
}
.fa-sun-o{
  background-color: #212121;
  color:#ccc;
}
